{{- $arm := false }} {{/* are we running on intel or arm processor? */}}
{{- $homebrew_prefix := "/usr/local/bin" }} {{/* homebrew prefix on intel macs */}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   if contains "arm" (output "uname" "-p" | trim) -}}
{{-     $arm = true -}}
{{-     $homebrew_prefix = "/opt/homebrew/bin" -}}
{{-   end -}}
{{- end -}}

[data]
    name = "Vladislav"
    email = "9671366+vladserkoff@users.noreply.github.com"
    arm = "{{ $arm }}"
    homebrew_prefix = "{{ $homebrew_prefix }}"

[edit]
    command = "micro"

[diff]
    exclude = ["scripts"]
