{{- $email := promptStringOnce . "email" "E-mail" "9671366+vladserkoff@users.noreply.github.com" -}}
{{- $is_work := promptBoolOnce . "is_work" "Is it a work machine?" false -}}
{{- $aws_profile := promptStringOnce . "aws_profile" "Default AWS profile:" "" -}}

{{/* homebrew prefix on intel and arm macs is different */}}
{{- $homebrew_prefix := "/opt/homebrew/bin" -}}
{{- if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) -}}
    {{- $homebrew_prefix = "/usr/local/bin" }}
{{- end -}}

[data]
    name = "Vladislav"
    email = {{ $email | quote }}
    is_work = {{ $is_work }}
    homebrew_prefix = {{ $homebrew_prefix | quote }}
    aws_profile = {{ $aws_profile | quote }}

[edit]
    command = "zed"

[diff]
    exclude = ["scripts"]
