[user]
    name = "{{ .name }}"
    email = "{{ .email }}"
[core]
	editor = micro
[pull]
	rebase = true
[init]
	defaultBranch = main
[color]
    ui = auto
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
