// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "assistant": {
    "default_model": {
      "provider": "zed.dev",
      "model": "claude-3-5-sonnet-latest"
    },
    "version": "2"
  },
  "languages": {
    "Python": {
      "language_servers": ["pyright", "ruff"],
      "format_on_save": "off",
      "formatter": [
        {
          "code_actions": {
            "source.organizeImports.ruff": true,
            "source.fixAll.ruff": true
          }
        },
        {
          "language_server": {
            "name": "ruff"
          }
        }
      ]
    }
  },
  "lsp": {
    "pyright": {
      "settings": {
        "python": {
          "pythonPath": ".pixi/envs/default/bin/python"
        }
      }
    }
  },
  "ui_font_size": 16,
  "buffer_font_size": 16,
  "theme": {
    "mode": "dark",
    "light": "One Light",
    "dark": "One Dark"
  },
  "telemetry": {
    "diagnostics": {{ not .is_work }},
    "metrics": {{ not .is_work }}
  },
  "terminal": {
    "copy_on_select": true,
    "detect_venv": "off"
  },
  "file_scan_exclusions": [
    "**/.git",
    "**/.svn",
    "**/.hg",
    "**/CVS",
    "**/.DS_Store",
    "**/Thumbs.db",
    "**/.classpath",
    "**/.settings",
    "**/.pixi",
    "**/.ropeproject",
    "**/.ruff_cache",
    "**/__pycache__",
    "**/.venv",
    "**/.ipynb_checkpoints",
    "**/*.egg-info"
  ],
  "auto_install_extensions": {
    "docker-compose": true,
    "dockerfile": true,
    "fish": true,
    "html": true,
    "rainbow-csv": true,
    "ruff": true,
    "sql": true,
    "toml": true
  },
  "show_completions_on_input": true,
  "soft_wrap": "editor_width"
}
