// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "edit_predictions": {
    "mode": "subtle",
    "copilot": {
      "proxy": null,
      "proxy_no_verify": null,
      "enterprise_uri": null
    },
    "enabled_in_text_threads": false
  },
  "show_edit_predictions": false,
  "disable_ai": false,
  "format_on_save": "off",
  "languages": {
    "Python": {
      "show_edit_predictions": false,
      "language_servers": ["basedpyright", "ruff"],
      "format_on_save": "off",
      "formatter": [
        {
          "language_server": {
            "name": "ruff"
          }
        }
      ]
    },
    "Markdown": {
      "soft_wrap": "editor_width"
    }
  },
  "ui_font_size": 16,
  "buffer_font_size": 16.0,
  "theme": {
    "mode": "dark",
    "light": "One Light",
    "dark": "One Dark"
  },
  "telemetry": {
    "diagnostics": {{ not .is_work }},
    "metrics": {{ not .is_work }}
  },
  "terminal": {
    "copy_on_select": true
  },
  "file_scan_exclusions": [
    "**/.git",
    "**/.svn",
    "**/.hg",
    "**/.jj",
    "**/CVS",
    "**/.DS_Store",
    "**/Thumbs.db",
    "**/.classpath",
    "**/.settings",
    "**/.pixi",
    "**/.ropeproject",
    "**/.ruff_cache",
    "**/__pycache__",
    "**/.venv",
    "**/.ipynb_checkpoints",
    "**/*.egg-info",
    "**/*.pytest_cache",
    "**/.hypothesis",
    "**/.uv-cache"
  ],
  "auto_install_extensions": {
    "docker-compose": true,
    "dockerfile": true,
    "fish": true,
    "html": true,
    "rainbow-csv": true,
    "ruff": true,
    "sql": true,
    "toml": true
  }
}
