function generate_completions
    if type -q docker
        docker completion fish > ~/.config/fish/completions/docker.fish
    end
    if type -q pixi
        pixi completion --shell fish > ~/.config/fish/completions/pixi.fish
    end
    if type -q uv
        uv --generate-shell-completion fish > ~/.config/fish/completions/uv.fish
    end
    if type -q uvx
        uvx --generate-shell-completion fish > ~/.config/fish/completions/uvx.fish
    end
end
