if status is-interactive
    # Commands to run in interactive sessions can go here
end

set fish_greeting ""

{{ if eq .chezmoi.os "linux" -}}
fish_add_path /home/{{ .chezmoi.username }}/.pixi/bin
fish_add_path /home/{{ .chezmoi.username }}/.local/bin
{{ end }}

if type -q brew
    set -gx HOMEBREW_NO_ENV_HINTS 1
    {{ .homebrew_prefix }}/brew shellenv | source
end

if type -q direnv
    direnv hook fish | source
end
if type -q docker
    docker completion fish | source
end
if type -q pixi
    pixi completion --shell fish | source
end
if type -q uv
    uv generate-shell-completion fish | source
end
if type -q uvx
    uvx --generate-shell-completion fish | source
end
if type -q mise
    mise activate fish | source
end
if type -q rustup
    rustup completions fish | source
    if not type -q cargo
        source "$HOME/.cargo/env.fish"
    end
end

abbr -a -g l ls -laGh
alias g='git'
alias gc='git commit'
alias gp='git push'
alias gs='git status'
alias cha='chezmoi init -va'
alias chc='chezmoi cd'
set -gx AWS_PROFILE {{ .aws_profile }}
