if status is-interactive
    # Commands to run in interactive sessions can go here
end

set fish_greeting ""

{{ if eq .chezmoi.os "linux" -}}
fish_add_path /home/{{ .chezmoi.username }}/.pixi/bin
fish_add_path /home/{{ .chezmoi.username }}/.local/bin
{{ end }}

if type -q brew
    set -gx HOMEBREW_NO_ENV_HINTS 1
    {{ .homebrew_prefix }}/bin/brew shellenv | source
end

if type -q direnv
    direnv hook fish | source
end
if type -q mise
    mise activate fish | source
end
if type -q cargo
    source "$HOME/.cargo/env.fish"
end

{{ if eq .chezmoi.os "linux" -}}
fish_add_path /home/{{ .chezmoi.username }}/.claude/local
{{ else }}
fish_add_path /Users/{{ .chezmoi.username }}/.claude/local
{{ end }}

abbr -a -g l ls -laGh
abbr -a -g g git
abbr -a -g gc git commit
abbr -a -g gp git push
abbr -a -g gs git status
abbr -a -g cha chezmoi init -va
abbr -a -g chc chezmoi cd
abbr -a -g chu chezmoi update
set -gx AWS_PROFILE {{ .aws_profile }}

abbr -a -g jup uvx --with ipywidgets --with jupyterlab_widgets --from jupyterlab@latest jupyter-lab --no-browser
abbr -a -g tmpl-init uvx copier copy gh:vladserkoff/python-uv-template
